/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  background-color: #fff;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 960px;
  max-height: 960px;
}


.cell {
  height: 22px;
  width: 22px;
  background-color: #b3d4fc;
  display: inline-block;
  margin-right: 1px;
  margin-bottom: -4px;
}

.cell:hover {
  background-color: #4886d0;
}
